/*
Projet UE 2.3 Intégration web de la maquette à l’encodage HTML
Author: Passeri Mario
Site web d'un artiste compositeur, souhait d'avoir un site web pour communiquer sur ces réalisations
Version: 1.0.0
*/

/* Variables globale */

$background-color_site: #3B444C;
$color_site: #000000;

@font-face {
  font-family: Libre Baskerville;
  src: url("../../assets/fonts/LibreBaskerville-Italic.ttf");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.center{
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

body{
  background-color: $background-color_site;
  color: $color_site;
  //font-family: 'Libre Baskerville', serif;
  font-size: 1.3rem;
}

@media only screen and (min-width: 1000px) {
  body{
    font-size: 1.6rem;
  }
}

/* Page de connexion */

.login{

  // header

  .brand-logo{
    font-size: 1.9rem;
  }

  .hero_login{
    margin: 40px auto 20px auto;
    max-width: 500px;
    height: 90%;
    width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }

  footer{
    margin: 30px auto;
    background-color: $background-color_site !important;
    font-size: 1.3rem;
    text-align: center;
  }

  @media only screen and (min-width: 290px) and (max-width: 992px) {
    .hero_login{
      width: 90%;
      max-width: 500px;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }
  }

  .LogoMobile{
    position: relative;
    left: 50%;
    margin: 10px auto;
    transform: translateX(-50%);
    width: 150px;
  }

  /* Change user agent Autocomplete styles sur Chrome */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {

    border-bottom: 2px solid #9e9e9e;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: transparent;
    transition: background-color 5000s ease-in-out 0s;
  }

  input{
    color: white !important;
    width: 90% !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 3rem !important;
    border-bottom: 1px solid #9e9e9e;
  }

  input::placeholder{
    color: white !important;
  }

  button{
   display: flex;
    justify-content: center;
    margin: 40px auto 0 auto;
  }
}

/* dashboard */

$width: 15vmin;

.circles {
  width: $width;
  height: $width;
  position: relative;
  perspective: 50000px;
  color: #61DAFB;
  margin: 25px auto;

    span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 18.4%;
    height: 18.4%;
    border-radius: 100%;
    background: currentColor;
  }

  div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-left:
            $width / 25 solid;
    border-top:
            $width / 25 solid transparent;
    border-radius: 100%;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation: anim-#{$i} 1s linear infinite;
      }
    }
  }
}

@media only screen and (min-width: 290px) and (max-width: 450px) {
  .circles {
    width: 30vmin;
    height: 30vmin;
    position: relative;
    perspective: 50000px;
    color: #61DAFB;
    margin: 25px auto;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 18.4%;
      height: 18.4%;
      border-radius: 100%;
      background: currentColor;
    }

    div {
      position: absolute;
      width: 100%;
      height: 100%;
      border-left:
              $width / 25 solid;
      border-top:
              $width / 25 solid transparent;
      border-radius: 100%;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation: anim-#{$i} 1s linear infinite;
        }
      }
    }
  }
}

@for $i from 1 through 3 {
  @keyframes anim-#{$i} {
    from {
      transform:
              rotateZ(360deg / 3 * $i)
              rotateX(66deg)
              rotateZ(0deg);
    }
    to {
      transform:
              rotateZ(360deg / 3 * $i)
              rotateX(66deg)
              rotateZ(360deg);
    }
  }
}

.fixed{
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

/* footer */

footer{
  background-color: $background-color_site !important;
  font-size: 1.3rem;
  text-align: center;
}


