@charset "UTF-8";
/*
Projet UE 2.3 Intégration web de la maquette à l’encodage HTML
Author: Passeri Mario
Site web d'un artiste compositeur, souhait d'avoir un site web pour communiquer sur ces réalisations
Version: 1.0.0
*/
/* Variables globale */
@font-face {
  font-family: Libre Baskerville;
  src: url("../../assets/fonts/LibreBaskerville-Italic.ttf");
  font-display: swap;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.center {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

body {
  background-color: #3B444C;
  color: #000000;
  font-size: 1.3rem;
}

@media only screen and (min-width: 1000px) {
  body {
    font-size: 1.6rem;
  }
}
/* Page de connexion */
.login {
  /* Change user agent Autocomplete styles sur Chrome */
}
.login .brand-logo {
  font-size: 1.9rem;
}
.login .hero_login {
  margin: 40px auto 20px auto;
  max-width: 500px;
  height: 90%;
  width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.login footer {
  margin: 30px auto;
  background-color: #3B444C !important;
  font-size: 1.3rem;
  text-align: center;
}
@media only screen and (min-width: 290px) and (max-width: 992px) {
  .login .hero_login {
    width: 90%;
    max-width: 500px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
}
.login .LogoMobile {
  position: relative;
  left: 50%;
  margin: 10px auto;
  transform: translateX(-50%);
  width: 150px;
}
.login input:-webkit-autofill,
.login input:-webkit-autofill:hover,
.login input:-webkit-autofill:focus,
.login textarea:-webkit-autofill,
.login textarea:-webkit-autofill:hover,
.login textarea:-webkit-autofill:focus,
.login select:-webkit-autofill,
.login select:-webkit-autofill:hover,
.login select:-webkit-autofill:focus {
  border-bottom: 2px solid #9e9e9e;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
}
.login input {
  color: white !important;
  width: 90% !important;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 3rem !important;
  border-bottom: 1px solid #9e9e9e;
}
.login input::placeholder {
  color: white !important;
}
.login button {
  display: flex;
  justify-content: center;
  margin: 40px auto 0 auto;
}

/* dashboard */
.circles {
  width: 15vmin;
  height: 15vmin;
  position: relative;
  perspective: 50000px;
  color: #61DAFB;
  margin: 25px auto;
}
.circles span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 18.4%;
  height: 18.4%;
  border-radius: 100%;
  background: currentColor;
}
.circles div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 0.6vmin solid;
  border-top: 0.6vmin solid transparent;
  border-radius: 100%;
}
.circles div:nth-child(1) {
  animation: anim-1 1s linear infinite;
}
.circles div:nth-child(2) {
  animation: anim-2 1s linear infinite;
}
.circles div:nth-child(3) {
  animation: anim-3 1s linear infinite;
}

@media only screen and (min-width: 290px) and (max-width: 450px) {
  .circles {
    width: 30vmin;
    height: 30vmin;
    position: relative;
    perspective: 50000px;
    color: #61DAFB;
    margin: 25px auto;
  }
  .circles span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 18.4%;
    height: 18.4%;
    border-radius: 100%;
    background: currentColor;
  }
  .circles div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 0.6vmin solid;
    border-top: 0.6vmin solid transparent;
    border-radius: 100%;
  }
  .circles div:nth-child(1) {
    animation: anim-1 1s linear infinite;
  }
  .circles div:nth-child(2) {
    animation: anim-2 1s linear infinite;
  }
  .circles div:nth-child(3) {
    animation: anim-3 1s linear infinite;
  }
}
@keyframes anim-1 {
  from {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
  }
  to {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}
@keyframes anim-2 {
  from {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
  }
  to {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}
@keyframes anim-3 {
  from {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}
.fixed {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

/* footer */
footer {
  background-color: #3B444C !important;
  font-size: 1.3rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
