<?php include_once ('view/header.phtml'); ?>

<div class="container">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.min.js"></script>

    <form method="post" onchange="this.submit()">
        <div style="margin: 25px auto" class="input-field col s12 m6 white container">
            <select name="query" class="icons" title="Choisir un mois">
                <option style="text-align: center" value="disabled" disabled selected> Choisir une année </option>
                <option value="<?php echo $annee_actuelle -1; ?>" data-icon="assets/images/Calendrier.png" class="left"> <?php echo $annee_actuelle -1; ?> </option>
                <option value="<?php echo $annee_actuelle; ?>" data-icon="assets/images/Calendrier.png" class="left"> <?php echo $annee_actuelle; ?> </option>
                <option value="<?php echo $annee_actuelle +1; ?>" data-icon="assets/images/Calendrier.png" class="left"> <?php echo $annee_actuelle +1; ?> </option>
            </select>
        </div>
    </form>

    <p class="center-align blue-text"><?php echo $annee; ?></p>

    <button class="waves-effect waves-light btn tooltipped" data-position="top" data-tooltip="Imprimer" id="print" type="button"><i style="font-size: 25px" class="material-icons">print</i></button>
    <button class="waves-effect waves-light btn tooltipped" id="download" data-position="top" data-tooltip="Télechager" type="button"><i style="font-size: 25px" class="material-icons">file_download</i></button>

    <div class="card-panel blue">
        <ul class="collection">
            <?php

            // Budget intial
            foreach($donnees as $donns1){
                if($donns1['ROUND(SUM(transaction.amount), 2)'] == 0){
                    echo "<li class=\"collection-item\">Revenus de l'année 0 € </li>";
                }
                else{
                    echo "<li class=\"collection-item\">Revenus de l'année " . $donns1['ROUND(SUM(transaction.amount), 2)'] . " €</li>";
                }
            }

            // Dépenses mensuel
            foreach($donnees2 as $donns2){
                if($donns2['ROUND(SUM(transaction.amount), 2)'] == 0){
                    echo "<li class=\"collection-item\">Dépenses total de l'année 0 €</li>";
                }
                else{
                    echo "<li class=\"collection-item\">Dépenses total de l'année " . $donns2['ROUND(SUM(transaction.amount), 2)'] . " €</li>";
                }
            }

            // Somme budget - dépenses
            $somme = $donns1['ROUND(SUM(transaction.amount), 2)'] - $donns2['ROUND(SUM(transaction.amount), 2)'];

            if($somme >= 0){
                echo "<li class=\"collection-item\">Solde restant " . ($donns1['ROUND(SUM(transaction.amount), 2)'] - $donns2['ROUND(SUM(transaction.amount), 2)']) ." €</li>";
            }
            else{
                echo "<li class=\"collection-item  red lighten-2\">Découvert annuelle  " . str_replace("-", "-", $donns1['ROUND(SUM(transaction.amount), 2)'] - $donns2['ROUND(SUM(transaction.amount), 2)']) ." €</li>";
            }

            ?>

        </ul>
    </div>

    <?php

    if($somme != 0){
        echo '<canvas class="chart-container" style="position: relative; height:30vh; width:70vw; margin: 20px auto" id="myChart"></canvas>
                                <script>
                                    var ctx = document.getElementById("myChart").getContext("2d");
                                    var myChart = new Chart(ctx, {                            
                                        type: "pie",
                                                data: {
                                        labels: ["Dépenses", "Revenus"],
                                                    datasets: [{
                                                  label: "Historique annuelle",
                                                        data: ['.$donns2['ROUND(SUM(transaction.amount), 2)'].', '.$donns1['ROUND(SUM(transaction.amount), 2)'] .'],
                                                        backgroundColor: [
                                                    "rgba(255, 99, 132, 0.2)",
                                                    "rgba(54, 162, 235, 0.2)",
                                                    "rgba(255, 206, 86, 0.2)",                                                             
                                                ],
                                                        borderColor: [
                                                    "rgba(255, 99, 132, 1)",
                                                    "rgba(54, 162, 235, 1)",
                                                    "rgba(255, 206, 86, 0.2)"                                    
                                                ],
                                                        borderWidth: 3
                                                    }]
                                                },
                            
                                    });
                                     
                            </script>';
    }
    else{

       echo '
              <div class="circles">
                    <div></div>
                    <div></div>
                    <div></div>
                    <span></span>                                 
                </div>';
    }
    ?>

</div>

<?php include_once ('view/footer.phtml'); ?>



