<?php include_once ('view/header.phtml'); ?>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.min.js"></script>

<div class="container">
                <form method="post" action="conso_mensuelle">
                    <div style="margin: 25px auto" class="input-field col s12 m6 white container">
                        <select name="query" class="icons" title="Choisir un mois" required="required">
                            <option style="text-align: center" value="disabled" disabled selected> Choisir un mois </option>
                            <option value="2021-01" data-icon="assets/images/Calendrier.png" class="left"> Janvier </option>
                            <option value="2021-02" data-icon="assets/images/Calendrier.png" class="left"> Février </option>
                            <option value="2021-03" data-icon="assets/images/Calendrier.png" class="left"> Mars </option>
                            <option value="2021-04" data-icon="assets/images/Calendrier.png" class="left"> Avril </option>
                            <option value="2021-05" data-icon="assets/images/Calendrier.png" class="left"> Mai</option>
                            <option value="2021-06" data-icon="assets/images/Calendrier.png" class="left"> Juin </option>
                            <option value="2021-07" data-icon="assets/images/Calendrier.png" class="left"> Juillet </option>
                            <option value="2021-08" data-icon="assets/images/Calendrier.png" class="left"> Août </option>
                            <option value="2021-09" data-icon="assets/images/Calendrier.png" class="left"> Septembre </option>
                            <option value="2021-10" data-icon="assets/images/Calendrier.png" class="left"> Octobre </option>
                            <option value="2021-11" data-icon="assets/images/Calendrier.png" class="left"> Novembre </option>
                            <option value="2021-12" data-icon="assets/images/Calendrier.png" class="left"> Décembre </option>
                        </select>
                    </div>

                    <div style="margin: 25px auto" class="input-field col s12 m6 white container">
                        <select name="query_annee" class="icons" title="Choisir un mois" required="required">
                            <option style="text-align: center" value="disabled" disabled selected> Choisir une année </option>
                            <option value="<?php echo $annee_actuelle -1; ?>" data-icon="assets/images/Calendrier.png" class="left"> <?php echo $annee_actuelle -1; ?> </option>
                            <option value="<?php echo $annee_actuelle; ?>" data-icon="assets/images/Calendrier.png" class="left"> <?php echo $annee_actuelle; ?> </option>
                            <option value="<?php echo $annee_actuelle +1; ?>" data-icon="assets/images/Calendrier.png" class="left"> <?php echo $annee_actuelle +1; ?> </option>
                        </select>
                    </div>
                    <div class="container">
                        <button id="start" type="submit" class="btn-small waves-effect waves-light">Filtrer<i class="material-icons right">cloud_done</i></button>
                    </div>

                </form>


                <p class="center-align blue-text"><?php echo $array[$liste_des_mois ] . " " .$annee; ?></p>

                <button class="waves-effect waves-light btn tooltipped" id="print" data-position="top" data-tooltip="Imprimer" type="button"><i style="font-size: 25px" class="material-icons">print</i></button>
                <button class="waves-effect waves-light btn tooltipped" id="download" data-position="top" data-tooltip="Télechager" type="button"><i style="font-size: 25px" class="material-icons">file_download</i></button>

                <div class="card-panel blue">
                    <ul class="collection">
                        <?php

                        // Budget intial
                        foreach($donnees as $donns1){
                            if($donns1['ROUND(SUM(transaction.amount), 2)'] == 0){
                                echo "<li class=\"collection-item\">Recettes du mois 0 € </li>";
                            }
                            else{
                                echo "<li class=\"collection-item\">Recettes du mois " . $donns1['ROUND(SUM(transaction.amount), 2)'] . " €</li>";
                            }
                        }

                        // Dépenses mensuel
                        foreach($donnees2 as $donns2){
                            if($donns2['ROUND(SUM(transaction.amount), 2)'] == 0){
                                echo "<li class=\"collection-item\">Dépenses du mois 0 €</li>";
                            }
                            else{
                                echo "<li class=\"collection-item\">Dépenses du mois " . $donns2['ROUND(SUM(transaction.amount), 2)'] . " €</li>";
                            }
                        }

                        // Somme budget - dépenses
                        $somme = $donns1['ROUND(SUM(transaction.amount), 2)'] - $donns2['ROUND(SUM(transaction.amount), 2)'];

                        if($somme >= 0){
                            echo "<li class=\"collection-item\">Solde restant " . ($donns1['ROUND(SUM(transaction.amount), 2)'] - $donns2['ROUND(SUM(transaction.amount), 2)']) ." €</li>";
                        }
                        else{
                            echo "<li class=\"collection-item  red lighten-2\">Découvert de " . str_replace("-", "-", $donns1['ROUND(SUM(transaction.amount), 2)'] - $donns2['ROUND(SUM(transaction.amount), 2)']) ." €</li>";
                        }

                        ?>

                    </ul>
                </div>

                <?php
                    if($somme !== 0){}
                    else{
                        echo '
                              <div class="circles">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <span></span>                                 
                                </div>';
                    }
                ?>

                <?php
                    if($somme != 0){
                        echo '<canvas class="chart-container" style="position: relative; height:30vh; width:70vw; margin: 20px auto" id="myChart"></canvas>
                            <script>
                                var ctx = document.getElementById("myChart").getContext("2d");
                                var myChart = new Chart(ctx, {                            
                                    type: "pie",
                                            data: {
                                    labels: ["Dépenses", "Revenus"],
                                                datasets: [{
                                                    data: ['.$donns2['ROUND(SUM(transaction.amount), 2)'].', '.$donns1['ROUND(SUM(transaction.amount), 2)'] .',],
                                                    backgroundColor: [
                                                "rgba(255, 99, 132, 0.2)",
                                                "rgba(54, 162, 235, 0.2)"                                                                
                                            ],
                                                    borderColor: [
                                                "rgba(255, 99, 132, 1)",
                                                "rgba(54, 162, 235, 1)"                                    
                                            ],
                                                    borderWidth: 3
                                                }]
                                            },
                        
                                });
                        </script>';
                    }
                ?>

        <div>
    </div>

    <div class="col s12 m5">
        <ul class="collection">
            <?php
            foreach($donneesCategories as $donns){
                if($donns['CATNAME']){
                    echo '
                            <a class="modal-trigger" href="#Supprimer'.$donns['transactionId'].'">
                                <li class="collection-item avatar ">';

                    if($donns['CATNAME'] == "Revenus"):
                        echo '<i class="material-icons circle blue">add_to_photos</i>';
                    else:
                        echo '<i class="material-icons circle red">euro_symbol</i>';
                    endif;

                    echo '<div class="row format_categories">';

                    if($donns['CATNAME'] != "Revenus"):
                        echo ' <div class="col s4"><p>-'.numfmt_format_currency($fmt, $donns['amount'],"EUR").'</p></div>';
                    else:
                        echo ' <div class="col s4"><p>+'.numfmt_format_currency($fmt, $donns['amount'],"EUR").'</p></div>';
                    endif;

                    echo' <div class="col s4 center-align"><p>'.substr($donns['transactionDate'],0,10) .'</p></div>                                        
                                      <div class="col s4 center-align"><p>'.$donns['PAIEMENT'] .'</p></div>                                                           
                                    </div>                                      
                                </li>
                            </a>';

                    echo '           
                            <!-- Supprimer -->                     
                            <div id="Supprimer'.$donns['transactionId'].'" class="modal">
                                   <li class="collection-item avatar">';

                    if($donns['CATNAME'] == "Revenus"):
                        echo '<i class="material-icons circle blue">add_to_photos</i>';
                    else:
                        echo '<i class="material-icons circle red">euro_symbol</i>';
                    endif;

                    echo ' <div class="row format_categories">';

                    if($donns['CATNAME'] != "Revenus"):
                        echo ' <div class="col s6"><p>-'.numfmt_format_currency($fmt, $donns['amount'],"EUR").'</p></div>';
                    else:
                        echo ' <div class="col s6"><p>+'.numfmt_format_currency($fmt, $donns['amount'],"EUR").'</p></div>';
                    endif;

                    echo '<div class="col s6"><p>'.substr($donns['transactionDate'],0,10) .'</p></div>                                                                                                
                                    </div>
                                    <div class="row format_categories">
                                           <div class="col s6"><p>'.$donns['CATNAME'] .'</p></div>
                                           <div class="col s6"><p>'.$donns['PAIEMENT'] .'</p></div>                                                                                                  
                                    </div>                             
                                </li>
                       
                              <div class="modal-footer">
                                <form method="post" action="conso_mensuelle">
                                     <input type="hidden" name="ID" value="'.$donns['transactionId'].'">
                                     <input type="hidden" name="suppr" value="suppr">   
                                     <input type="hidden" name="dates" value="'.$date.'">                                                
                                    <div style="display: flex; justify-content: space-around">
                                        <a href="#Modifier'.$donns['transactionId'].'" class="waves-effect waves-light btn circle blue modal-trigger">Modifier</a>
                                        <button type="submit" class="waves-effect waves-light btn red">Supprimer</button>
                                    </div>                                                
                                </form>
                              </div>
                        </div>';

                    echo '<!-- Modifier -->                               
                                <div id="Modifier'.$donns['transactionId'].'" class="modal">                                                     
                                    <form method="post" action="conso_mensuelle">
                                        <div class="container">                       
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">branding_watermark</i>
                                                    <select title="idPaymentmethod" name="idPaymentmethod" required="required">';

                    foreach($donnesPayment_method as $donnss):
                        echo '<option value="'.$donnss['payment_methodId'].'">'.$donnss['name'] .'</option>';
                    endforeach;

                    echo ' </select>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">euro</i>
                                                    <input value="'.$donns['amount'].'" name="amount" id="icon_telephone" type="tel" class="validate" required="required" onkeyup="only_number(this)" onblur="format_price(this)">
                                                    <label for="icon_telephone"></label>
                                                </div>
                                            </div>  
                                            
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">branding_watermark</i>
                                                    <select title="idCategory" name="idCategory" required="required">';

                    foreach($donnesdepenseCategory as $donnsss):
                        echo '<option value="'.$donnsss['categoryId'].'">'.$donnsss['name'] .'</option>';
                    endforeach;

                    echo ' </select>
                                                </div>
                                            </div>   
                                            
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">perm_contact_calendar</i>
                                                    <input type="hidden" name="update" value="update">
                                                    <input type="hidden" name="transactionId" value="'.$donns['transactionId'].'">
                                                    <input type="text" name="transactionDate" value="'.substr($donns['transactionDate'],0,10) .'" class="datepicker" required="required" title="date">
                                                </div>
                                            </div>                                                                                                                                                                                                                                                   
                                                                                  
                                            <div class="modal-footer">
                                               <div class="center-align">
                                                    <button type="submit" class="waves-effect waves-light btn green">Valider</button>                                                                                       
                                               </div>                                                                                                                                     
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                ';
                }
            }

            ?>
        </ul>

    </div>
    <div class="row right-align fixed">
        <a href="#Ajouter" class="btn-floating btn-large waves-effect waves-light modal-trigger circle blue"><i class="material-icons">add</i></a>
    </div>
</div>

<!-- Ajouter -->

<div id="Ajouter" class="modal">
    <div class="modal-content">
        <div class="row">
            <form method="post" action="conso_mensuelle">
                <div class="container">

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">branding_watermark</i>
                            <select title="idPaymentmethod" name="idPaymentmethod" required="required">
                                <?php
                                foreach($donnesPayment_method as $donns){
                                    echo '<option value="'.$donns['payment_methodId'].'">'.$donns['name'] .'</option>';
                                }
                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">euro</i>
                            <input name="amount" id="icon_telephone" class="validate" required="required" title="montant" onkeyup="only_number(this)" onblur="format_price(this)">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">branding_watermark</i>
                            <select title="idCategory" name="idCategory" required="required">
                                <?php
                                foreach($donnesdepenseCategory as $donns){
                                    echo '<option value="'.$donns['categoryId'].'">'.$donns['name'] .'</option>';
                                }
                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">perm_contact_calendar</i>
                            <input name="transactionDate" value="<?php echo $date; ?>" type=text  id="transactionDate" class="datepicker" required title="date">
                        </div>
                    </div>

                    <input type="hidden" name="add">

                    <button class="btn waves-effect waves-light center " type="submit">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<?php include_once ('view/footer.phtml'); ?>



