<?php include_once ('view/header.phtml'); ?>

<div class="container">

    <div class="col s12 m5">
        <ul class="collection">
            <?php
                foreach($donneesCategories as $donns){
                    if($donns['CATNAME']){
                        echo '
                            <a class="modal-trigger" href="#Supprimer'.$donns['transactionId'].'">
                                <li class="collection-item avatar ">';

                                    if($donns['CATNAME'] == "Revenus"):
                                        echo '<i class="material-icons circle blue">add_to_photos</i>';
                                    else:
                                        echo '<i class="material-icons circle red">euro_symbol</i>';
                                    endif;

                            echo '<div class="row format_categories">';

                                if($donns['CATNAME'] != "Revenus"):
                                    echo ' <div class="col s4"><p>-'.numfmt_format_currency($fmt, $donns['amount'],"EUR").'</p></div>';
                                else:
                                    echo ' <div class="col s4"><p>+'.numfmt_format_currency($fmt, $donns['amount'],"EUR").'</p></div>';
                                endif;

                            echo' <div class="col s4 center-align"><p>'.substr($donns['transactionDate'],0,10) .'</p></div>                                        
                                      <div class="col s4 center-align"><p>'.$donns['PAIEMENT'] .'</p></div>                                                           
                                    </div>                                      
                                </li>
                            </a>';

                        echo '           
                            <!-- Supprimer -->                     
                            <div id="Supprimer'.$donns['transactionId'].'" class="modal">
                                   <li class="collection-item avatar">';

                                     if($donns['CATNAME'] == "Revenus"):
                                        echo '<i class="material-icons circle blue">add_to_photos</i>';
                                    else:
                                        echo '<i class="material-icons circle red">euro_symbol</i>';
                                    endif;

                            echo ' <div class="row format_categories">';

                                if($donns['CATNAME'] != "Revenus"):
                                    echo ' <div class="col s6"><p>-'.numfmt_format_currency($fmt, $donns['amount'],"EUR").'</p></div>';
                                else:
                                    echo ' <div class="col s6"><p>+'.numfmt_format_currency($fmt, $donns['amount'],"EUR").'</p></div>';
                                endif;

                            echo '<div class="col s6"><p>'.substr($donns['transactionDate'],0,10) .'</p></div>                                                                                                
                                    </div>
                                    <div class="row format_categories">
                                           <div class="col s6"><p>'.$donns['CATNAME'] .'</p></div>
                                           <div class="col s6"><p>'.$donns['PAIEMENT'] .'</p></div>                                                                                                  
                                    </div>                             
                                </li>
                       
                              <div class="modal-footer">
                                <form method="post" action="dashboard">
                                     <input type="hidden" name="ID" value="'.$donns['transactionId'].'">
                                     <input type="hidden" name="suppr" value="suppr">   
                                     <input type="hidden" name="dates" value="'.$date.'">                                                
                                    <div style="display: flex; justify-content: space-around">
                                        <a href="#Modifier'.$donns['transactionId'].'" class="waves-effect waves-light btn circle blue modal-trigger">Modifier</a>
                                        <button type="submit" class="waves-effect waves-light btn red">Supprimer</button>
                                    </div>                                                
                                </form>
                              </div>
                        </div>';

                        echo '<!-- Modifier -->                               
                                <div id="Modifier'.$donns['transactionId'].'" class="modal">                                                     
                                    <form method="post" action="dashboard">
                                        <div class="container">                       
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">branding_watermark</i>
                                                    <select title="idPaymentmethod" name="idPaymentmethod" required="required">';

                                                     foreach($donnesPayment_method as $donnss):
                                                            echo '<option value="'.$donnss['payment_methodId'].'">'.$donnss['name'] .'</option>';
                                                     endforeach;

                                            echo ' </select>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">euro</i>
                                                    <input value="'.$donns['amount'].'"  name="amount" id="icon_telephone" type="tel" class="validate" required="required" onkeyup="only_number(this)" onblur="format_price(this)">
                                                    <label for="icon_telephone"></label>
                                                </div>
                                            </div>  
                                            
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">branding_watermark</i>
                                                    <select title="idCategory" name="idCategory" required="required">';

                                                        foreach($donnesdepenseCategory as $donnsss):
                                                            echo '<option value="'.$donnsss['categoryId'].'">'.$donnsss['name'] .'</option>';
                                                        endforeach;

                                            echo ' </select>
                                                </div>
                                            </div>   
                                            
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <i class="material-icons prefix">perm_contact_calendar</i>
                                                    <input type="hidden" name="update" value="update">
                                                    <input type="hidden" name="transactionId" value="'.$donns['transactionId'].'">
                                                    <input type="text" name="transactionDate" value="'.substr($donns['transactionDate'],0,10) .'" class="datepicker" required="required" title="date">                            
                                                </div>
                                            </div>                                                                                                                                                                                                                                                   
                                                                                  
                                            <div class="modal-footer">
                                               <div class="center-align">
                                                    <button type="submit" class="waves-effect waves-light btn green">Valider</button>                                                                                       
                                               </div>                                                                                                                                     
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                ';
                    }
                }

            ?>
        </ul>

    </div>
    <div class="row right-align fixed">
        <a href="#Ajouter" class="btn-floating btn-large waves-effect waves-light modal-trigger circle blue"><i class="material-icons">add</i></a>
    </div>
</div>

<!-- Ajouter -->

<div id="Ajouter" class="modal">
    <div class="modal-content">
        <div class="row">
            <form method="post" action="dashboard">
            <div class="container">

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">branding_watermark</i>
                            <select title="idPaymentmethod" name="idPaymentmethod" required="required">
                                <?php
                                    foreach($donnesPayment_method as $donns){
                                        echo '<option value="'.$donns['payment_methodId'].'">'.$donns['name'] .'</option>';
                                    }
                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">euro</i>
                            <input name="amount" id="icon_telephone" class="validate" required="required" title="montant" onkeyup="only_number(this)" onblur="format_price(this)">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">branding_watermark</i>
                            <select title="idCategory" name="idCategory" required="required">
                                <?php
                                    foreach($donnesdepenseCategory as $donns){
                                        echo '<option value="'.$donns['categoryId'].'">'.$donns['name'] .'</option>';
                                    }
                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">perm_contact_calendar</i>
                            <input name="transactionDate" value="<?php echo $date; ?>" type=text  id="transactionDate" class="datepicker" required title="date">
                        </div>
                    </div>

                    <input type="hidden" name="add">
                    <button class="btn waves-effect waves-light center " type="submit">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<?php include_once ('view/footer.phtml'); ?>



