<footer class="page-footer container">
    <div class="col l6 s12">
        <h5 class="white-text">Application de gestion du budget</h5>
        <p>Très utile pour gérer son budget et mettre de l’argent de côté plus facilement possible.</p>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <p> © 2021 LP DWCA</p>
            <p><a class="button" href="https://blog.mariopasseri.eu">Passeri Mario</a></p>
        </div>
    </div>
</footer>
    </body>
    <script src="assets/js/jquery-3.6.0.slim.min.js"></script>
    <script src="assets/js/materialize.min.js"></script>
    <script src="assets/js/app.js"></script>
</html>