<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="robots" content="noindex"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Familly budget</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body id="body">
    <nav class=" black" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="dashboard" class="brand-logo">Familly budget</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="a" href="dashboard">Dashboard</a></li>
                <li><a class="a" href="conso_mensuelle">Consommation mensuelle</a></li>
                <li><a class="a" href="conso_annuelle">Consommation annuelle</a></li>
                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="/">
                        <i class="mdi">
                            <svg class="bi bi-power" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 104.922.044l.5-.866a6 6 0 11-5.908-.053l.486.875z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" clip-rule="evenodd"/>
                            </svg>
                        </i>
                    </a>
                </li>

            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="assets/images/office.jpeg">
                        </div>
                        <a href="#!"><span class="white-text email">Bienvenue sur Familly Budget </span></a>
                    </div>
                </li>

                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="dashboard">
                        <i class="material-icons">account_balance</i>
                        Dashboard
                    </a>
                </li>

                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="conso_mensuelle">
                        <i class="material-icons">euro_symbol</i>
                        Consommation mensuelle
                    </a>
                </li>

                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="conso_annuelle">
                        <i class="material-icons">euro_symbol</i>
                        Consommation annuelle
                    </a>
                </li>

                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="index.php">
                        <i class="mdi">
                            <svg class="bi bi-power" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 104.922.044l.5-.866a6 6 0 11-5.908-.053l.486.875z" clip-rule="evenodd"/>
                                <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" clip-rule="evenodd"/>
                            </svg>
                        </i>
                        Terminer
                    </a>
                </li>

            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>