<!DOCTYPE html>
<html lang="fr">
  <head>
      <meta name="robots" content="noindex"/>
      <meta name="robots" content="noindex,nofollow"/>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Familly budget</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
      <link rel="stylesheet" type="text/css" href="assets/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  </head>
  <body>
      <div class="login">
          <nav class=" black" role="navigation">
              <div class="nav-wrapper container">
                  <a id="logo-container" href="/" class="brand-logo">Familly budget</a>
                  <ul id="nav-mobile" class="sidenav">

                      <li><div class="user-view">
                              <div class="background">
                                  <img src="assets/images/office.jpeg">
                              </div>
                              <a href="#email"><span class="white-text email">Bienvenue sur Familly Budget</span></a>
                          </div></li>
                      <li><a href="/"><i class="material-icons">cloud</i>Familly Budget</a></li>

                      <li><div class="divider"></div></li>


                  </ul>
                  <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              </div>
          </nav>
          <div class="container">
              <img class="hero_login" src="assets/images/1_login.jpg">

              <button id="start" class="btn waves-effect waves-light">Demarrer<i class="material-icons right">send</i></button>

              <script>
                  document.getElementById("start").addEventListener("click", function(){
                      document.location.href="dashboard";
                  });
              </script>

          </div>

          <footer class="page-footer container">
              <div class="col l6 s12">
                  <h5 class="white-text">Application de gestion du budget</h5>
                  <p>Très utile pour gérer son budget et mettre de l’argent de côté plus facilement possible.</p>
              </div>

              <div class="footer-copyright">
                  <div class="container">
                      <p> © 2021 LP DWCA</p>
                      <p><a class="button" href="https://blog.mariopasseri.eu">Passeri Mario</a></p>
                  </div>
              </div>
          </footer>
      </div>
    </body>

  <script src="assets/js/materialize.min.js"></script>
  <script src="assets/js/app.js"></script>
</html>