<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="robots" content="noindex"/>
    <meta name="robots" content="noindex,nofollow"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PCE Marketplace Manager</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/materialize.css">
    <link type="text/css" rel="stylesheet" href="../assets/css/security.css">

</head>

<div class="container_maintenance">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
        <div class="box">
            <div class="animation">
                <div class="one spin-one"></div>
                <div class="two spin-two"></div>
                <div class="three spin-one"></div>
            </div>
            <h1>Maintenance</h1>
            <p>L'application est en cours de maintenance</p>
            <p><a href="../dashboard.php" class="waves-effect waves-light btn">Retour</a></p>
        </div>
</div>